<a href="https://colab.research.google.com/github/JakeOh/202004_iw_pyda_wkd/blob/master/python_da_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

print('numpy ver =', np.__version__)
print('pandas ver =', pd.__version__)

numpy ver = 1.18.2
pandas ver = 1.0.3

In [6]:
# pandas.Series: 1차원 모양의 데이터 타입(배열)
# pandas.DataFrame: 2차원 모양의 데이터 타입(spreadsheet, table)
series = pd.Series([4, 7, -5, 3])
print(series)
print(series.values)  # pandas.Series가 저장하고 있는 값들
print(series.index)  # pandas.Series가 가지고 있는 인덱스들

0    4
1    7
2   -5
3    3
dtype: int64
[ 4  7 -5  3]
RangeIndex(start=0, stop=4, step=1)

In [8]:
print(series[2])
print(series[1:3])  # 부분 집합

-5
1    7
2   -5
dtype: int64

In [12]:
# loc[]: 레이블 기반의 인덱스
# iloc[]: 정수 위치(integer position) 기반의 인덱스
s = pd.Series(data=[5, 4, -7, 3],
              index=['a', 'b', 'c', 'd'])
print(s)
print(s.loc['a'])  # location
print(s.iloc[0])  # integer-position location

a    5
b    4
c   -7
d    3
dtype: int64
5
5

In [14]:
print(s.loc['b':'c'])
# loc[] 안에서 start:end를 사용하면, start/end를 모두 포함하는 범위

print(s.iloc[1:3])
# iloc 안에서 start:end를 사용하면, start는 포함, end는 미포함(!)

b    4
c   -7
dtype: int64
b    4
c   -7
dtype: int64

In [19]:
s = pd.Series([1, 3, 5, 7, 9])
print(s)
print(s.loc[0], s.iloc[0])
print(s.loc[1:3])   # 3 포함(inclusive)
print(s.iloc[1:3])  # 3 미포함(exclusive)

0    1
1    3
2    5
3    7
4    9
dtype: int64
1 1
1    3
2    5
3    7
dtype: int64
1    3
2    5
dtype: int64

In [23]:
# pandas.Series 데이터 타입은
# Python의 list보다 dict에 더 가까운 데이터 타입
s = pd.Series(data=[1, 3, 5, 7, 9],
              index=['a', 'd', 'c', 'b', 'e'])
print(s)
print(s.loc['a':'c'])
print(s.iloc[:3])  # s.iloc[0:3]

a    1
d    3
c    5
b    7
e    9
dtype: int64
a    1
d    3
c    5
dtype: int64
a    1
d    3
c    5
dtype: int64

In [25]:
s = pd.Series({'서울': 100, '부산': 90, '광주': 80})
print(s)
print(s.loc['부산'])

서울    100
부산     90
광주     80
dtype: int64
90

In [27]:
# pandas.DataFrame: 2차원 데이터 타입(row x column)
data = {'city': ['서울', '서울', '서울', '경기', '경기', '경기'],
        'year': [2018, 2019, 2020, 2018, 2019, 2020],
        'pop': [1.5, 1.7, 1.8, 2.3, 2.1, 3.0]}
df = pd.DataFrame(data)
# print(df)
df

  city  year  pop
0   서울  2018  1.5
1   서울  2019  1.7
2   서울  2020  1.8
3   경기  2018  2.3
4   경기  2019  2.1
5   경기  2020  3.0

In [30]:
print('shape =', df.shape)  # (row 개수, column 개수)
print('columns =', df.columns)  # column index
print('index =', df.index)  # row index

shape = (6, 3)
columns = Index(['city', 'year', 'pop'], dtype='object')
index = RangeIndex(start=0, stop=6, step=1)

In [31]:
df2 = pd.DataFrame(data,
                   index=['a','b','c','f','z','k'])
df2

  city  year  pop
a   서울  2018  1.5
b   서울  2019  1.7
c   서울  2020  1.8
f   경기  2018  2.3
z   경기  2019  2.1
k   경기  2020  3.0

In [34]:
print(df2.shape)
print(df2.columns)
print(df2.index)

(6, 3)
Index(['city', 'year', 'pop'], dtype='object')
Index(['a', 'b', 'c', 'f', 'z', 'k'], dtype='object')

In [38]:
# DataFrame에서 컬럼(column) 선택: df['column'], df.column
print(df['city'])
print(df.city)

0    서울
1    서울
2    서울
3    경기
4    경기
5    경기
Name: city, dtype: object
0    서울
1    서울
2    서울
3    경기
4    경기
5    경기
Name: city, dtype: object

In [39]:
# DataFrame에서 여러개의 컬럼 선택: df[컬럼 이름 리스트]
print(df[['year', 'pop']])

   year  pop
0  2018  1.5
1  2019  1.7
2  2020  1.8
3  2018  2.3
4  2019  2.1
5  2020  3.0

In [42]:
# DataFrame에서 row(행)를 선택: df.loc[row_index], df_iloc[integer]
print(df.loc[0])
print(df.loc[0:2])
print(df.iloc[0:2])

city      서울
year    2018
pop      1.5
Name: 0, dtype: object
  city  year  pop
0   서울  2018  1.5
1   서울  2019  1.7
2   서울  2020  1.8
  city  year  pop
0   서울  2018  1.5
1   서울  2019  1.7

In [44]:
# DataFrame의 부분집합: df.loc[row, col], df.iloc[row, col]
print(df.loc[0:2, ['city', 'pop']])
print(df.iloc[0:3, [0, 2]])

  city  pop
0   서울  1.5
1   서울  1.7
2   서울  1.8
  city  pop
0   서울  1.5
1   서울  1.7
2   서울  1.8

In [45]:
s = pd.Series(np.random.randn(10))
s

0   -1.597806
1   -1.350227
2    0.330935
3    1.222352
4   -0.797691
5    0.089521
6   -0.913862
7    0.303029
8    0.498802
9   -0.733392
dtype: float64

In [46]:
s > 0

0    False
1    False
2     True
3     True
4    False
5     True
6    False
7     True
8     True
9    False
dtype: bool

In [47]:
# pandas.Series의 boolean indexing
s[s > 0]

2    0.330935
3    1.222352
5    0.089521
7    0.303029
8    0.498802
dtype: float64

In [48]:
df3 = pd.DataFrame(data=np.random.randn(3, 3),
                   columns=['a', 'b', 'c'])
df3

          a         b         c
0 -0.427107  0.141934 -0.113494
1  0.747326 -1.357717  0.039817
2  0.218869  0.984256  0.362500

In [50]:
df3 > 0

       a      b      c
0  False   True  False
1   True  False   True
2   True   True   True

In [52]:
df3[df3 > 0]

          a         b         c
0       NaN  0.141934       NaN
1  0.747326       NaN  0.039817
2  0.218869  0.984256  0.362500

In [53]:
df3['a'] > 0

0    False
1     True
2     True
Name: a, dtype: bool

In [54]:
df3[df3['a'] > 0]

          a         b         c
1  0.747326 -1.357717  0.039817
2  0.218869  0.984256  0.362500

In [55]:
df3[df3['b'] > 0]

          a         b         c
0 -0.427107  0.141934 -0.113494
2  0.218869  0.984256  0.362500

In [59]:
# pandas.DataFrame에서 수학, 통계 함수 적용
# axis=0: row가 증가하는 방향, axis=1: column이 증가하는 방향
# numpy.ndarray와 다르게 pandas에서는 axis=0이 기본값
print(df3.sum())
print(df3.sum(axis=0))
print(df3.sum(axis=1))

a    0.539089
b   -0.231527
c    0.288823
dtype: float64
a    0.539089
b   -0.231527
c    0.288823
dtype: float64
0   -0.398667
1   -0.570573
2    1.565625
dtype: float64