<a href="https://colab.research.google.com/github/JakeOh/202004_iw_pyda_wkd/blob/master/python_da_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
while 조건식:
    조건식이 참일 때 실행할 문장들
    (조건을 변경할 수 있는 문장)
"""

n = 1
while n < 5:  # n의 값이 5보다 작은 동안에
    print(n)
    n += 1  # n = n + 1
    # n -= 1 (n = n - 1), n *= 2 (n = n * 2), ...

1
2
3
4

In [3]:
# 반복하는 횟수가 정해져 있지 않은 경우 while loop를 사용할 수 있다.

# 1 + 2 + ... + 99 + 100
_sum = 0
for x in range(1, 101):
    _sum += x
print('sum =', _sum)

sum = 5050

In [4]:
# 1 + 2 + ... + 99 + 100
_sum = 0
n = 1
while n <= 100:
    _sum += n
    n += 1
print('sum =', _sum)

sum = 5050

In [5]:
# 1 + 2 + ... + x >= 100을 만족하는 가장 작은 x 찾기
_sum = 0
x = 1
while True:  # 무한 루프
    _sum += x
    if _sum >= 100:  # 1부터 차례로 더하던 합(_sum)이 100 이상이 되면,
        break  # 무한 루프를 종료
    x += 1  # x를 1 증가시켜서 다음에 더할 수 있도록 함.
print('x =', x)

x = 14

In [14]:
# 10개 난수(random number)를 생성해서 리스트에 저장
import random  # random 패키지의 기능(함수), 데이터(변수)를 사용

print(random.random())  # random.random(): 0 <= r < 1 난수 생성
print(random.randint(1, 10))  # random.randint(a, b): a <= r <= b 정수 난수 생성

scores = []  # 난수들을 저장하기 위한 빈 리스트(empty list)
for _ in range(10):  # 10번 반복
    scores.append(random.randint(0, 10))  # scores 리스트에 난수를 추가(append)
print(scores)

0.33959103069814967
1
[9, 8, 10, 10, 7, 5, 10, 0, 7, 0]

In [18]:
# List Comprehension
# [표현식 for 변수 in 컬렉션 (if 조건식)]
scores = [random.randint(0, 10) for _ in range(10)]
print(scores)

[0, 3, 6, 10, 2, 0, 4, 9, 0, 6]

In [20]:
cities = ['seoul', 'jeju', 'dokdo']
# cities의 원소들(문자열)을 모두 대문자로 변경한 문자열들을 갖는 리스트를 생성
cities_upper = []
for city in cities:  # cities의 모든 원소들에 대해서 반복(iteration)
    cities_upper.append(city.upper())
print(cities_upper)

cities_upper2 = [city.upper() for city in cities]
print(cities_upper2)

['SEOUL', 'JEJU', 'DOKDO']
['SEOUL', 'JEJU', 'DOKDO']

In [22]:
list1 = []
for city in cities:
    if len(city) >= 5:
        list1.append(city.upper())
print(list1)

list2 = [city.upper() for city in cities if len(city) >= 5]
print(list2)

['SEOUL', 'DOKDO']
['SEOUL', 'DOKDO']

In [23]:
# set comprehension
# {표현식 for 변수 in 컬렉션 (if 조건식)}

# dictionary comprehension
# {k: v for 변수 in 컬렉션 (if 조건식)}

dict1 = {city: len(city) for city in cities}
print(dict1)

{'seoul': 5, 'jeju': 4, 'dokdo': 5}

In [24]:
numbers = [1, 2, 11, 22, 30]
names = ['a', 'b', 'c', 'd', 'e']

products = {num: name for num, name in zip(numbers, names)}
print(products)

{1: 'a', 2: 'b', 11: 'c', 22: 'd', 30: 'e'}

In [27]:
# 주사위 2개를 던졌을 때 가능한 숫자들의 조합
# [(1, 1), (1, 2), ..., (6, 5), (6, 6)]
dice = []
for x in range(1, 7):
    for y in range(1, 7):
        dice.append((x, y))
print(dice)

dice2 = [(x, y) for x in range(1, 7) for y in range(1, 7)]
print(dice2)

dice3 = [(x, y) for x in range(1, 7) for y in range(1, 7) if x >= y]
print(dice3)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]
[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]
[(1, 1), (2, 1), (2, 2), (3, 1), (3, 2), (3, 3), (4, 1), (4, 2), (4, 3), (4, 4), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]