<a href="https://colab.research.google.com/github/JakeOh/pyda202003/blob/master/python_da_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



*   Python 코드를 Jupyter 노트북에서 실행하는 방법


1.   실행 아이콘 클릭
2.   Ctrl + Enter: 현재 셀을 실행시킴.
3.   Shift + Enter: 현재 셀을 실행시키고, 새로운 코드 셀을 만듦.

In [0]:
print("Hello, Python!")

Hello, Python!

In [0]:
# 주석(comment): 프로그램 코드에 설명을 추가하는 것.
# 주석은 실행되지 않는 문장
# 파이썬에서 주석은 #으로 시작하고 그 줄(line)의 끝까지.
print(1 + 2)  # 1 + 2의 결과를 화면에 출력.

3

변수(variable): 데이터를 저장하는 공간.<br>
변수이름 = 값

In [0]:
x = 123  # 변수 x에 값 123을 할당(저장)
y = 100
print(x + y)  # 변수 x의 값을 출력

223

In [0]:
name1 = "김정수"
name2 = '김덕수'
# 문자열 변수: 큰따옴표("") 또는 작은 따옴표('')안에 작성.
print(name1)
print(name2)

name3 = "123"  # 문자열
number = 123  # 숫자
print(name3 + "1")
# 문자열 + 문자열: 문자열을 이어주는(concatenate) 기능.
print(number + 1)

김정수
김덕수
1231
124

In [0]:
print(111 + 100)
print(111 - 100)
print(2 * 3)
print(2 / 3)
print(5 % 2)  # %: 나머지 연산자
print(2 ** 3)  # **: 거듭제곱 연산자

211
11
6
0.6666666666666666
1
8

In [0]:
# 비교 연산자(==, != , >, >=, <, <=)
# 비교 연산의 결과를 True/False로 반환(return)
print(3 == 2)  # ==: equal to
print(3 != 2)  # !=: not equal to

False
True



*   List(리스트): 여러개의 값들을 저장할 수 있는 배열 형태의 데이터 타입<br>
리스트는 각 원소들의 위치를 나타내는 인덱스(index)를 가지고 있다.<br>
리스트의 인덱스는 0부터 시작<br>
리스트의 원소는 인덱스 연산자([])를 사용해서 접근/변경할 수 있다.

In [0]:
numbers = [10, 20, 30]  # 숫자 3개를 저장하는 리스트
print(numbers)  # 리스트 출력
print(numbers[1])  # 리스트에서 인덱스 1번의 원소를 출력
numbers[2] = 123  # 리스트에서 특정 인덱스의 원소의 값을 변경
print(numbers)
print(numbers[1:3])
# 범위 연산자(:)를 사용할 때,
# a:b는 a부터 b보다 작을 때까지라는 의미임. (a <= x < b)
print(numbers[-3:])

[10, 20, 30]
20
[10, 20, 123]
[20, 123]
[10, 20, 123]



*   Tuple(튜플): 변경할 수 없는 리스트<br>
list(리스트)는 원소를 추가/삭제/변경이 가능하지만,
tuple(튜플)은 한번 원소들이 저장되면 추가/삭제/변경이 불가능함.

In [0]:
numbers2 = (1, 2, 3, 4, 5)  # tuple
print(numbers2)
print(numbers2[0])  # tuple에서 인덱스 0번 원소 출력
print(numbers2[1:4])  # tuple에서 인덱스 1번부터 4번보다 작을 때까지
print(numbers2[-2:])  # tuple에서 끝에서부터 2개의 원소를 출력
# numbers2[0] = 123  # TypeError 발생

(1, 2, 3, 4, 5)
1
(2, 3, 4)
(4, 5)



*   Dictionary(사전): key-value 쌍으로 데이터를 저장하는 타입.

In [0]:
person = {"name": "아이티윌", "no": 123456, "open": True}
print(person)
# dictionary의 값(value)을 읽거나 변경할 때는 key를 사용.
print(person["name"])
print(person["no"])
person["open"] = False
print(person["open"])
print(person.keys())  # dictionary의 키(key)들을 반환
print(person.values())  # dictionary의 값(value)들을 반환
print(person.items())  # (key, value) 튜플들을 반환

{'name': '아이티윌', 'no': 123456, 'open': True}
아이티윌
123456
False
dict_keys(['name', 'no', 'open'])
dict_values(['아이티윌', 123456, False])
dict_items([('name', '아이티윌'), ('no', 123456), ('open', False)])



*   Set(집합): 순서가 없고, 중복 저장이 되지 않는 데이터 타입.

In [0]:
s = {1, 3, 3, 3, 2, 2}
print(s)

{1, 2, 3}