<a href="https://colab.research.google.com/github/JakeOh/202004_iw_pyda_wkd/blob/master/python_da_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Google Drive Mount
# 필요한 라이브러리들 임포트
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
# DataFrame의 최대 프린트 라인 개수 제한
pd.options.display.max_rows = 10

In [0]:
# users.dat 파일을 읽어서 데이터프레임 생성
# users.dat 데이터의 컬럼 이름들
users_names = ['user_id', 'gender', 'age', 'occupation', 'zip']
# 데이터프레임 생성
users = pd.read_table('drive/My Drive/Colab Notebooks/python_da/movielens/users.dat',
                      sep='::',  # 데이터 구분자
                      header=None,  # 파일 헤더 정보(컬럼) 없음
                      names=users_names)  # 컬럼 이름 지정

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [0]:
users

      user_id gender  age  occupation    zip
0           1      F    1          10  48067
1           2      M   56          16  70072
2           3      M   25          15  55117
3           4      M   45           7  02460
4           5      M   25          20  55455
...       ...    ...  ...         ...    ...
6035     6036      F   25          15  32603
6036     6037      F   45           1  76006
6037     6038      F   56           1  14706
6038     6039      F   45           0  01060
6039     6040      M   25           6  11106

[6040 rows x 5 columns]

In [0]:
# ratings.data(영화평점) 파일을 읽어서 데이터프레임 생성
ratings_names = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('drive/My Drive/Colab Notebooks/python_da/movielens/ratings.dat',
                        sep='::',
                        header=None,
                        names=ratings_names)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """

In [0]:
ratings

         user_id  movie_id  rating  timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
...          ...       ...     ...        ...
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[1000209 rows x 4 columns]

In [0]:
# movies.dat(영화 정보) 파일을 읽어서 데이터프레임 생성
movies_names = ['movie_id', 'title', 'genre']
movies = pd.read_table('drive/My Drive/Colab Notebooks/python_da/movielens/movies.dat',
                       sep='::',
                       header=None,
                       names=movies_names)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """

In [0]:
movies

      movie_id  ...                         genre
0            1  ...   Animation|Children's|Comedy
1            2  ...  Adventure|Children's|Fantasy
2            3  ...                Comedy|Romance
3            4  ...                  Comedy|Drama
4            5  ...                        Comedy
...        ...  ...                           ...
3878      3948  ...                        Comedy
3879      3949  ...                         Drama
3880      3950  ...                         Drama
3881      3951  ...                         Drama
3882      3952  ...                Drama|Thriller

[3883 rows x 3 columns]

In [0]:
users.info()  # pandas.DataFrame.info() 함수 - 데이터프레임 정보

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     6040 non-null   int64
 1   gender      6040 non-null   object
 2   age         6040 non-null   int64
 3   occupation  6040 non-null   int64
 4   zip         6040 non-null   object
dtypes: int64(3), object(2)
memory usage: 236.1+ KB

In [0]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user_id    1000209 non-null  int64
 1   movie_id   1000209 non-null  int64
 2   rating     1000209 non-null  int64
 3   timestamp  1000209 non-null  int64
dtypes: int64(4)
memory usage: 30.5 MB

In [0]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  3883 non-null   int64
 1   title     3883 non-null   object
 2   genre     3883 non-null   object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB

In [0]:
pd.merge(ratings, users)

         user_id  movie_id  rating  timestamp gender  age  occupation    zip
0              1      1193       5  978300760      F    1          10  48067
1              1       661       3  978302109      F    1          10  48067
2              1       914       3  978301968      F    1          10  48067
3              1      3408       4  978300275      F    1          10  48067
4              1      2355       5  978824291      F    1          10  48067
...          ...       ...     ...        ...    ...  ...         ...    ...
1000204     6040      1091       1  956716541      M   25           6  11106
1000205     6040      1094       5  956704887      M   25           6  11106
1000206     6040       562       5  956704746      M   25           6  11106
1000207     6040      1096       4  956715648      M   25           6  11106
1000208     6040      1097       4  956715569      M   25           6  11106

[1000209 rows x 8 columns]

In [0]:
# ratings, users, movies를 조인(join)해서 하나의 데이터프레임을 생성
df = pd.merge(pd.merge(ratings, users), movies)
df

         user_id  ...                 genre
0              1  ...                 Drama
1              2  ...                 Drama
2             12  ...                 Drama
3             15  ...                 Drama
4             17  ...                 Drama
...          ...  ...                   ...
1000204     5949  ...           Documentary
1000205     5675  ...                 Drama
1000206     5780  ...                 Drama
1000207     5851  ...  Comedy|Drama|Western
1000208     5938  ...           Documentary

[1000209 rows x 10 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000209 entries, 0 to 1000208
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   user_id     1000209 non-null  int64
 1   movie_id    1000209 non-null  int64
 2   rating      1000209 non-null  int64
 3   timestamp   1000209 non-null  int64
 4   gender      1000209 non-null  object
 5   age         1000209 non-null  int64
 6   occupation  1000209 non-null  int64
 7   zip         1000209 non-null  object
 8   title       1000209 non-null  object
 9   genre       1000209 non-null  object
dtypes: int64(6), object(4)
memory usage: 83.9+ MB

In [0]:
df.iloc[100]

user_id                                          335
movie_id                                        1193
rating                                             3
timestamp                                  976363703
gender                                             M
age                                               35
occupation                                        18
zip                                            55434
title         One Flew Over the Cuckoo's Nest (1975)
genre                                          Drama
Name: 100, dtype: object

# 성별에 따른 각 영화의 평균 평점

In [0]:
mean_ratings_by_gender = df.pivot_table(values='rating',
                                        index='title',
                                        columns='gender',
                                        aggfunc='mean')

In [0]:
mean_ratings_by_gender
# 데이터프레임
#   인덱스(row 이름): title
#   컬럼: gender 컬럼의 값들이 컬럼으로 펼쳐짐
#   각 셀의 값: mean(ratings)

gender                                             F         M
title
$1,000,000 Duck (1971)                      3.375000  2.761905
'Night Mother (1986)                        3.388889  3.352941
'Til There Was You (1997)                   2.675676  2.733333
'burbs, The (1989)                          2.793478  2.962085
...And Justice for All (1979)               3.828571  3.689024
...                                              ...       ...
Zed & Two Noughts, A (1985)                 3.500000  3.380952
Zero Effect (1998)                          3.864407  3.723140
Zero Kelvin (Kj�rlighetens kj�tere) (1995)       NaN  3.500000
Zeus and Roxanne (1997)                     2.777778  2.357143
eXistenZ (1999)                             3.098592  3.289086

[3706 rows x 2 columns]

In [0]:
# 250건 이상의 평점을 받은 영화들만 추려보자...
# title(영화제목)으로 그룹지어서 개수를 셈 - groupby, size
ratings_by_title = df.groupby(by='title').size()
ratings_by_title

title
$1,000,000 Duck (1971)                         37
'Night Mother (1986)                           70
'Til There Was You (1997)                      52
'burbs, The (1989)                            303
...And Justice for All (1979)                 199
                                             ...
Zed & Two Noughts, A (1985)                    29
Zero Effect (1998)                            301
Zero Kelvin (Kj�rlighetens kj�tere) (1995)      2
Zeus and Roxanne (1997)                        23
eXistenZ (1999)                               410
Length: 3706, dtype: int64

In [0]:
type(ratings_by_title)
# 1차원 Series 타입! - 시리즈는 index와 values를 갖음

pandas.core.series.Series

In [0]:
ratings_by_title.index

Index(['$1,000,000 Duck (1971)', ''Night Mother (1986)',
       ''Til There Was You (1997)', ''burbs, The (1989)',
       '...And Justice for All (1979)', '1-900 (1994)',
       '10 Things I Hate About You (1999)', '101 Dalmatians (1961)',
       '101 Dalmatians (1996)', '12 Angry Men (1957)',
       ...
       'Young Poisoner's Handbook, The (1995)', 'Young Sherlock Holmes (1985)',
       'Young and Innocent (1937)', 'Your Friends and Neighbors (1998)',
       'Zachariah (1971)', 'Zed & Two Noughts, A (1985)', 'Zero Effect (1998)',
       'Zero Kelvin (Kj�rlighetens kj�tere) (1995)', 'Zeus and Roxanne (1997)',
       'eXistenZ (1999)'],
      dtype='object', name='title', length=3706)

In [0]:
ratings_by_title.values

array([ 37,  70,  52, ...,   2,  23, 410])

In [0]:
# 평점을 250건 이상 받은 영화 제목들
active_titles = ratings_by_title.index[ratings_by_title >= 250]
active_titles

Index([''burbs, The (1989)', '10 Things I Hate About You (1999)',
       '101 Dalmatians (1961)', '101 Dalmatians (1996)', '12 Angry Men (1957)',
       '13th Warrior, The (1999)', '2 Days in the Valley (1996)',
       '20,000 Leagues Under the Sea (1954)', '2001: A Space Odyssey (1968)',
       '2010 (1984)',
       ...
       'X-Men (2000)', 'Year of Living Dangerously (1982)',
       'Yellow Submarine (1968)', 'You've Got Mail (1998)',
       'Young Frankenstein (1974)', 'Young Guns (1988)',
       'Young Guns II (1990)', 'Young Sherlock Holmes (1985)',
       'Zero Effect (1998)', 'eXistenZ (1999)'],
      dtype='object', name='title', length=1216)

In [0]:
mean_ratings_by_gender = mean_ratings_by_gender.loc[active_titles]
mean_ratings_by_gender

gender                                    F         M
title
'burbs, The (1989)                 2.793478  2.962085
10 Things I Hate About You (1999)  3.646552  3.311966
101 Dalmatians (1961)              3.791444  3.500000
101 Dalmatians (1996)              3.240000  2.911215
12 Angry Men (1957)                4.184397  4.328421
...                                     ...       ...
Young Guns (1988)                  3.371795  3.425620
Young Guns II (1990)               2.934783  2.904025
Young Sherlock Holmes (1985)       3.514706  3.363344
Zero Effect (1998)                 3.864407  3.723140
eXistenZ (1999)                    3.098592  3.289086

[1216 rows x 2 columns]

In [0]:
# 성별로 영화에 대한 호불호가 다른지 조사.
# 성별 평균 평점의 차이를 컬럼으로 추가
mean_ratings_by_gender['diff'] = mean_ratings_by_gender['F'] - mean_ratings_by_gender['M']
mean_ratings_by_gender

gender                                    F         M      diff
title
'burbs, The (1989)                 2.793478  2.962085 -0.168607
10 Things I Hate About You (1999)  3.646552  3.311966  0.334586
101 Dalmatians (1961)              3.791444  3.500000  0.291444
101 Dalmatians (1996)              3.240000  2.911215  0.328785
12 Angry Men (1957)                4.184397  4.328421 -0.144024
...                                     ...       ...       ...
Young Guns (1988)                  3.371795  3.425620 -0.053825
Young Guns II (1990)               2.934783  2.904025  0.030758
Young Sherlock Holmes (1985)       3.514706  3.363344  0.151362
Zero Effect (1998)                 3.864407  3.723140  0.141266
eXistenZ (1999)                    3.098592  3.289086 -0.190494

[1216 rows x 3 columns]

In [0]:
# 여성들이 평균적으로 높은 평점을 준 영화
# sort_index(): 인덱스를 정렬
# sort_values(): 값(values)를 정렬
# 오름차순(ascending) 정렬이 기본값
# 내림차순(descending) 정렬을 하려면, ascending=False 설정
top_female_ratings = mean_ratings_by_gender.sort_values(by='F',
                                                        ascending=False)

top_female_ratings

gender                                                     F  ...      diff
title                                                         ...
Close Shave, A (1995)                               4.644444  ...  0.170650
Wrong Trousers, The (1993)                          4.588235  ...  0.109974
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  ...  0.108060
Wallace & Gromit: The Best of Aardman Animation...  4.563107  ...  0.178032
Schindler's List (1993)                             4.562602  ...  0.071187
...                                                      ...  ...       ...
Avengers, The (1998)                                1.915254  ... -0.102213
Speed 2: Cruise Control (1997)                      1.906667  ...  0.043653
Rocky V (1990)                                      1.878788  ... -0.253992
Barb Wire (1996)                                    1.585366  ... -0.515020
Battlefield Earth (2000)                            1.574468  ... -0.042481

[1216 rows x 3 columns]

In [0]:
top_female_ratings.iloc[:10]

gender                                                     F  ...      diff
title                                                         ...
Close Shave, A (1995)                               4.644444  ...  0.170650
Wrong Trousers, The (1993)                          4.588235  ...  0.109974
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  ...  0.108060
Wallace & Gromit: The Best of Aardman Animation...  4.563107  ...  0.178032
Schindler's List (1993)                             4.562602  ...  0.071187
Shawshank Redemption, The (1994)                    4.539075  ... -0.021550
Grand Day Out, A (1992)                             4.537879  ...  0.244624
To Kill a Mockingbird (1962)                        4.536667  ...  0.164055
Creature Comforts (1990)                            4.513889  ...  0.241612
Usual Suspects, The (1995)                          4.513317  ... -0.004931

[10 rows x 3 columns]

In [0]:
top_female_ratings.iloc[-10:]

gender                                                     F  ...      diff
title                                                         ...
Karate Kid III, The (1989)                          2.155556  ...  0.039373
Teenage Mutant Ninja Turtles II: The Secret of ...  2.152174  ...  0.030223
Striptease (1996)                                   2.150000  ... -0.043277
Howard the Duck (1986)                              2.074627  ... -0.028915
Anaconda (1997)                                     2.000000  ... -0.248447
Avengers, The (1998)                                1.915254  ... -0.102213
Speed 2: Cruise Control (1997)                      1.906667  ...  0.043653
Rocky V (1990)                                      1.878788  ... -0.253992
Barb Wire (1996)                                    1.585366  ... -0.515020
Battlefield Earth (2000)                            1.574468  ... -0.042481

[10 rows x 3 columns]

In [0]:
sorted_by_diff = mean_ratings_by_gender.sort_values(by='diff')
sorted_by_diff.iloc[:10]
# 남성들의 평점이 여성들의 평점보다 높은 영화

gender                                         F         M      diff
title
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300 -0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147 -0.676359
Dumb & Dumber (1994)                    2.697987  3.336595 -0.638608
Longest Day, The (1962)                 3.411765  4.031447 -0.619682
Cable Guy, The (1996)                   2.250000  2.863787 -0.613787
Evil Dead II (Dead By Dawn) (1987)      3.297297  3.909283 -0.611985
Hidden, The (1987)                      3.137931  3.745098 -0.607167
Rocky III (1982)                        2.361702  2.943503 -0.581801
Caddyshack (1980)                       3.396135  3.969737 -0.573602
For a Few Dollars More (1965)           3.409091  3.953795 -0.544704

In [0]:
# 여성들이 남성들보다 높은 평점을 준 영화
sorted_by_diff.iloc[-10:]

gender                                        F         M      diff
title
Free Willy (1993)                      2.921348  2.438776  0.482573
Age of Innocence, The (1993)           3.827068  3.339506  0.487561
Color Purple, The (1985)               4.158192  3.659341  0.498851
Rocky Horror Picture Show, The (1975)  3.673016  3.160131  0.512885
Anastasia (1997)                       3.800000  3.281609  0.518391
Steel Magnolias (1989)                 3.901734  3.365957  0.535777
Little Women (1994)                    3.870588  3.321739  0.548849
Grease (1978)                          3.975265  3.367041  0.608224
Jumpin' Jack Flash (1986)              3.254717  2.578358  0.676359
Dirty Dancing (1987)                   3.790378  2.959596  0.830782

In [0]:
# 성별에 관계없이 영화에 대한 평점(호불호)가 극명하게 달라지는 영화
# 평점의 분산 또는 표준편차가 큰 영화
# 영화 title별로 그룹지어서, 영화의 평점의 표준편차(standard deviation) 계산
rating_std_by_title = df.groupby('title')['rating'].std()
rating_std_by_title

title
$1,000,000 Duck (1971)                        1.092563
'Night Mother (1986)                          1.118636
'Til There Was You (1997)                     1.020159
'burbs, The (1989)                            1.107760
...And Justice for All (1979)                 0.878110
                                                ...
Zed & Two Noughts, A (1985)                   1.052794
Zero Effect (1998)                            1.042932
Zero Kelvin (Kj�rlighetens kj�tere) (1995)    0.707107
Zeus and Roxanne (1997)                       1.122884
eXistenZ (1999)                               1.178568
Name: rating, Length: 3706, dtype: float64

In [0]:
# 250건 이상의 평점을 받은 영화들만 선택
rating_std_by_title = rating_std_by_title.loc[active_titles]
rating_std_by_title

title
'burbs, The (1989)                   1.107760
10 Things I Hate About You (1999)    0.989815
101 Dalmatians (1961)                0.982103
101 Dalmatians (1996)                1.098717
12 Angry Men (1957)                  0.812731
                                       ...
Young Guns (1988)                    1.017437
Young Guns II (1990)                 1.071959
Young Sherlock Holmes (1985)         0.891176
Zero Effect (1998)                   1.042932
eXistenZ (1999)                      1.178568
Name: rating, Length: 1216, dtype: float64

In [0]:
# 표준편차 내림차순으로 정렬
sorted_std = rating_std_by_title.sort_values(ascending=False)
sorted_std[:10]

title
Dumb & Dumber (1994)                     1.321333
Blair Witch Project, The (1999)          1.316368
Natural Born Killers (1994)              1.307198
Tank Girl (1995)                         1.277695
Rocky Horror Picture Show, The (1975)    1.260177
Eyes Wide Shut (1999)                    1.259624
Evita (1996)                             1.253631
Billy Madison (1995)                     1.249970
Fear and Loathing in Las Vegas (1998)    1.246408
Bicentennial Man (1999)                  1.245533
Name: rating, dtype: float64

In [0]:
sorted_std[-10:]

title
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)    0.740924
Double Indemnity (1944)                          0.740793
Hustler, The (1961)                              0.737298
North by Northwest (1959)                        0.732515
Raiders of the Lost Ark (1981)                   0.725647
Wrong Trousers, The (1993)                       0.708666
Shawshank Redemption, The (1994)                 0.700443
Great Escape, The (1963)                         0.692585
Rear Window (1954)                               0.688946
Close Shave, A (1995)                            0.667143
Name: rating, dtype: float64