<a href="https://colab.research.google.com/github/JakeOh/202004_iw_pyda_wkd/blob/master/python_da_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



*   제어문(Control Statement)


1.   조건문(if-else, if-elif-else)
2.   반복문(for)

In [0]:
"""
if 조건:
    조건이 참일 때 실행할 문장들
"""
x = -100
if x > 0:
    # if 조건이 참일 때 실행할 문장
    print('x는 양수입니다.')  
# if문과 상관이 없는 문장
print('if문 바깥')

In [0]:
"""
if 조건식:
    조건식이 참일 때 실행할 문장들
else:
    조건식이 거짓일 때 실행할 문장들
"""
mask = 100
if mask >= 100:
    print('약국을 찾아간다.')
else:
    print('다른 약국을 찾아본다.')
print('if-else 바깥')

약국을 찾아간다.
if-else 바깥

In [0]:
"""
if 조건식1:
    조건식1이 참일 때 실행할 문장들
elif 조건식2:
    조건식2가 참일 때 실행할 문장들
else:
    모든 조건식이 거짓일 때 실행할 문장들
"""
x  = -100
if x > 0:
    print('positive')
elif x == 0:
    print('zero')
else:
    print('negative')

negative

In [0]:
x = 120
if x % 2 == 0:
    print("짝수")
else:
    print("홀수")

짝수

In [0]:
"""
Python에서 True/False 판별:
1) 숫자 타입의 변수인 경우 0은 False, 0이 아닌 숫자는 True
2) 숫자 이외의 타입인 경우 
비어있는 값("", [], (), {})은 False, 그 이외에는 True
"""
x = 1
if x % 2:
    print("홀수")
else:
    print("짝수")

greeting = ""
if greeting:
    print(greeting)
else:
    print("Hello!")

홀수
Hello!

In [0]:
"""
for 변수 in list[tuple/dict/string/...]:
    반복할 문장들
"""
numbers = [1, 2, 3, 4, 5, 6]
for num in numbers:
    print(num)

1
2
3
4
5
6

In [0]:
numbers = range(1, 11)  # 1부터 11보다 작은 연속된 정수들
# numbers 안의 숫자들을 출력
# numbers 안의 숫자들 중에서 짝수만 출력
for num in numbers:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [0]:
# len(문자열)은 문자열의 길이를 반환
# 도시 이름이 6글자 이상인 도시들만 출력
cities = ["Seoul", "Washington", "Tokyo", "London", "Beijing"]
for city in cities:
    if len(city) >= 6:
        print(city)

Washington
London
Beijing

In [0]:
capitals = {"Korea": "Seoul",
            "USA": "Washington DC",
            "Japan": "Tokyo",
            "UK": "London"}
for country in capitals:
    print(country, capitals[country])

"""
for 변수 in dictionary:
구문에서는 dictionary의 키(key)만 차례로 변수에 저장됨.
key와 value를 함께 사용하고자 할 때는 dict.items() 함수를 사용.
"""

for k, v in capitals.items():
    print(k, ":", v)

Korea Seoul
USA Washington DC
Japan Tokyo
UK London
Korea : Seoul
USA : Washington DC
Japan : Tokyo
UK : London

In [0]:
students = dict()  # empty dictionary를 생성
students[1] = "홍길동"  # empty dictionary에 새로운 원소(k-v) 추가
students[2] = "허균"  # 새로운 key-value 원소 추가
print(students)

{1: '홍길동', 2: '허균'}

In [0]:
# city_len 이름의 empty dictionary를 생성
# cities의 도시 이름을 key로, 도시 이름의 길이(len)를 value로 하는
# key-value 쌍을 city_len dictionary에 추가.
city_len = dict()
for city in cities:
    city_len[city] = len(city)
print(city_len)

{'Seoul': 5, 'Washington': 10, 'Tokyo': 5, 'London': 6, 'Beijing': 7}

In [0]:
# range(start, end): start <= x < end 범위의 연속된 정수
# range(end): 0 <= x < end 범위의 연속된 정수
for n in range(10):
    print(n)
    if n == 5:
        break  # break가 포함된 가장 가까운 반복문을 종료

0
1
2
3
4
5

In [0]:
# 1단은 1x1까지, 2단은 2x2까지, 3단은 3x3까지, ... 출력
for dan in range(1, 10):
    for n in range(1, 10):
        print(dan, "x", n, "=", dan*n)
        if (dan == n):
            break
    print("-" * 10)

1 x 1 = 1
----------
2 x 1 = 2
2 x 2 = 4
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
----------